/*Selector de etiqueta*/
h1 {
    color:red;
}
h2 {
    color:blue;
}
/*Selector de clase*/
.oscuro {
    background-color: black;
    color: white;
}
/*Selector ID*/
#biografia {
    background-color:rgb(218, 172, 172);
    color: black;
}
#frases {
    background-color:rgb(218, 172, 172);
    color: black;
}